{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="categories">
    <a href="{% url 'index' %}" class="category">INICIO</a>
    <a href="#" class="category">ACCESORIOS</a>
    <a href="{% url 'index' %}" class="category">BICICLETAS</a>
    <a href="#" class="category">REPUESTOS</a>
    <a href="{% url 'arriendo' %}" class="category">ARRIENDO</a>
    <a href="#" class="category">REPARACIÓN</a>
</div>

    <!-- contenido principal -->
    <main role="main">

        <div class="custom-div">
            <p class="mini-titulo">Inicio de sesión</p>
          </div>
          <section class="text center" style="background-color: #f1f1f1">

                <br><br>
                <div class="justify-content-center">
                    <form id="formulario_login" method="POST" class="border align-items-center cuadro_login">
                        <div class="text-center">
                            <img src="{% static 'core/img/mdemaster.png' %}" style="height: 100px;" alt="">
                        </div>  
                        <br><br>   
                        {% csrf_token %}
                        <!-- Botones -->
                        <div class="input-group">
                            {{ form.username }}
                            <label for="username" class="label">Cuenta</label>
                        </div>
                        <div class="input-group">
                            {{ form.password }}
                            <label for="password" class="label">Contraseña</label>
                        </div>

                        <div class="text-center mt-4">
                            <button class="boton_registro" type="submit">Iniciar sesión</button>
                            <br><br>
                            <a href="#" class="align-items-center letra-azuul">¿Olvidaste tu contraseña?</a>
                        </div>    
                    </form>

                    <br>

                    <div class="border cuadro_login2">
                        <div class="text-center">
                            ¿No tienes cuenta? <a href="{% url 'registro' %}" class="letra-azuul-bold align-items-center">Regístrate</a>
                        </div>    
                    </div>    
                    {% include 'common/combobox_usuarios.html' %}
                </div>

            </section>    
    </main>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_login.js' %}"></script>
{% endblock script %}
