{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- contenido principal -->
    <main role="main">

                <h1 class="mini-titulo">Inicio de Sesión</h1>
                <br>
                <div class="justify-content-center">
                    <form id="formulario_login" method="POST" class="border align-items-center cuadro_login">
                        <img src="{% static 'core/img/mdemaster.png' %}" style="height: 100px;" alt="">
                        {% csrf_token %}
                        <!-- Botones -->
                        {{ form|as_bootstrap_form }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn boton_registro">Iniciar sesión</button>
                        </div>
                        <br>
                        <a href="#" class="">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>

    </main>
    {% include 'common/combobox_usuarios.html' %}
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_login.js' %}"></script>
{% endblock script %}
