{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- contenido principal -->
    <main role="main">

                <h1 class="mini-titulo">Inicio de Sesión</h1>
                <br>
                <div class="justify-content-center">
                    <form id="formulario_login" method="POST" class="border align-items-center cuadro_login">
                        <img src="{% static 'core/img/mdemaster.png' %}" style="height: 100px;" alt="">
                        {% csrf_token %}
                        <!-- Botones -->
                        <div class="input-group">
                            {{ form.username }}
                            <label for="username" class="label">Cuenta</label>
                        </div>
                        <div class="input-group">
                            {{ form.password }}
                            <label for="password" class="label">Contraseña</label>
                        </div>
                        <button class="btn boton_registro" type="submit">Ingresar</button>
                        <br>
                        <a href="#" class="align-items-center letra-azuul">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>
    </main>
    {% include 'common/combobox_usuarios.html' %}
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/validacion_login.js' %}"></script>
{% endblock script %}
