{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<main role="main">
    
        <div class="custom-div">
            <p class="mini-titulo">Registro</p>
          </div>
        <section class="text-center" style="background-color: #f1f1f1">
            
            <br>

            <!-- Formulario de registro de cliente -->
            <form method="POST" id="formulario_registro" enctype="multipart/form-data" class="cuadro_login3" >
                <div class="letra_grande">
                    Únete a MasterBikes
                </div>
                <br><br>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            {{ usuario_form.username }}
                            <label for="username" class="label">Cuenta</label>
                        </div>
                        <div class="input-group">
                            {{ perfil_form.rut }}
                            <label for="rut" class="label">RUT</label>
                        </div>
                        <div class="input-group">
                            {{ usuario_form.first_name }}
                            <label for="first_name" class="label">Nombre</label>
                        </div>
                        <div class="input-group">
                            {{ usuario_form.last_name }}
                            <label for="last_name" class="label">Apellido</label>
                        </div>
                        
                        <div class="input-group">
                            {{ usuario_form.email }}
                            <label for="email" class="label">Correo</label>
                        </div>
                        
                        
                    </div>

                    <div class="col-md-4">
                        
                        <div class="input-group">
                            {{ perfil_form.direccion }}
                            <label for="direccion" class="label">Dirección</label>
                        </div>
                        <div class="form-group">
                            {{ perfil_form.subscrito.label_tag }}
                            {{ perfil_form.subscrito }}
                        </div>
                        <div class="input-group">
                            {{ usuario_form.password1 }}
                            <label for="password1" class="label">Contraseña</label>
                        </div>
                        <div class="input-group">
                            {{ usuario_form.password2 }}
                            <label for="password2" class="label">Confirmar contraseña</label>
                        </div>
                        
                        
                    </div>
                    
                    <div class="col-md-4">
                        
                        <img src="{% static 'core/img/mdemaster.png' %}" style="height: 100px;" alt="">
                        <div class="text-center">
                            Al registrarte aceptas nuestras <a href="{% url 'registro' %}" class="letra-azuul-bold align-items-center">Condiciones</a>, nuestra
                            <a href="{% url 'registro' %}" class="letra-azuul-bold align-items-center">Política de Privacidad</a> y la 
                            <a href="{% url 'registro' %}" class="letra-azuul-bold align-items-center">Politica de Cookies</a>.
                        </div>
                        <br><br>
                        <div class="col text-center">
                            <button type="submit" class="boton_registro">Registrarse</button>
                        </div>
                        <br>
                        <div class="text-center">
                            ¿Tienes una cuenta? <a href="{% url 'ingresar' %}" class="letra-azuul-bold align-items-center">Inicia sesión</a>
                        </div>  
                    </div>
                    <div class="text-center">
                        ¿Eres empresa y necesitas nuestros servicios? Escribe directamente a nuestro <a href="{% url 'registro' %}" class="letra-azuul-bold align-items-center">Correo</a>
                    </div>  
                    
                </div>

                
            </form>
            <br>
        </section>
    
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/validacion_registro.js' %}"></script>
<script src="{% static 'core/js/script.js' %}"></script>
{% endblock script %}
