<!-- sidebar.html -->

<div class="sidebar">
  <h2>Filtrar</h2>
  <ul>
      <li>
          <button class="accordion">Precio</button>
          <div class="panel">
              <!-- Contenido para filtrar por precio -->
          </div>
      </li>
      <li>
          <button class="accordion">Categoría</button>
          <div class="panel">
              <!-- Contenido para filtrar por categoría -->
          </div>
      </li>
      <li>
          <button class="accordion">Talla</button>
          <div class="panel">
              <!-- Contenido para filtrar por talla -->
          </div>
      </li>
  </ul>
</div>
