/* DESCOMENTAR ESTO PARA "HACK DEL DIV" */
/* div{
  border: 1px solid red;
}  */

.mini_titulo{
  color: #8d8d8d;
  font-weight: bold;
  font-size: 18px;
}


.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-link * {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cuadro_blaco{
  background-color: white;
}

.error {
  color: red;
  font-weight: bold;
}

html body {  
  background-color: #fafafa;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.logo2 {
  height: 80px;
  margin-right: 10px;
}

.imgpago {
  height: 80px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}



.thumbnail-product {
  height: 150px !important;
  max-width: 150px !important;
}

.thumbnail-product2 {
  height: 250px !important;
  max-width: 250px !important;
}

.precio-real{
  text-decoration: line-through;
}

.precio-oferta{
  color: darkblue;
}

.cuadro_login {
  border: 5px solid rgb(#bcbcbc);
  padding: 30px;
  width: 450px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.cuadro_login2 {
  border: 5px solid rgb(#bcbcbc);
  padding: 20px;
  width: 450px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.cuadro_login3 {
  border: 5px solid rgb(#bcbcbc);
  padding: 40px;
  width: 1300px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.cuadro_login4 {
  border: 5px solid rgb(#bcbcbc);
  padding: 60px;
  width: 900px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.letra_grande {
  font-size: 25px;
  color:#000;
  font-weight: bold;
  text-align: left;
}

.letra_grande2 {
  font-size: 20px;

}

.cuadro_precio_ficha {
  border: 2px solid rgb(#dcdcdc);
  padding: 30px;
  width: 400px;
  height: auto;
  background-color: #fafafa;
  margin: 20px auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.cuadro_precio_ficha2 {
  border: 2px solid rgb(#dcdcdc);
  padding: 30px;
  width: 400px;
  height: auto;
  background-color: #fafafa;
  margin: 20px auto; /* Centra verticalmente */
}

.cuadro_neon_pequeño {
  border: 1px solid rgb(255, 255, 255);
  padding: 40px;
  width: auto;
  height: auto;
  background-color: none;
  margin: 0 auto;
  box-shadow:
  0 0 10px rgb(255, 255, 255),
  0 0 1cap rgba(0,178,255,1);
}

.cuadro_white {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 40px;
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

.cuadro_ficha {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 60px;
  width: 1500px;
  height: auto;
  margin: 0 auto;
}

.cuadro_blanco_index {
  border: 1px solid rgb(#dcdcdc);
  background-color: #ffffff;
  padding: 30px;
  width: 300px;
  height: 700px;
  margin: 0 auto;
}


.cuadro_neon {
  box-shadow:
  0 0 10px rgb(255, 255, 255),
  0 0 1cap rgba(0,178,255,1);
}


.opcion{
  display: inline-block;
  margin-right: 10px;
}

.letra{
  color: rgb(255, 255, 255);
}

.white-text{
  color: rgb(255, 255, 255);
  font-weight: bold;
}


.letrazul{
  color: rgb(56, 85, 251);
}

.cute-font-regular {
  font-family: "Cute Font", sans-serif;
  font-weight: 800;
  font-size:4em;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.neon {
	color: #ffffff;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 15px rgba(0,178,255,1),
		0 0 20px rgba(38,104,127,1),
		0 0 25px rgba(38,104,127,1),
		0 0 30px rgba(38,104,127,1),
		0 0 35px rgba(38,104,127,1),
		0 0 40px rgba(38,104,127,1),
		0 0 45px rgba(38,104,127,1);
}


.boton_registro{
  background-color: #8bc24a !important; 
  border: none;
  color: rgb(0, 0, 0); 
  text-align: center;
  font-weight: bold !important;
  display: inline-block;
  width: 380px; 
  padding: 0.5rem;
  border-radius: 15px;
  text-decoration: none;
}

.boton_registro:hover{
  background-color: #72ad2e !important; 
  box-shadow:
  0 0 10px rgb(147, 220, 37),
}



.boton_registro2{
  background-color: #8bc24a !important; 
  border: none;
  color: rgb(0, 0, 0); 
  text-align: center;
  font-weight: bold !important;
  display: inline-block;
  width: 220px; 
  padding: 0.5rem;
  border-radius: 15px;
  text-decoration: none;
}
.boton_registro2:hover{
  background-color: #72ad2e !important; 
  box-shadow:
  0 0 10px rgb(147, 220, 37),
}

.letra-azuul {
  color: #007bff;
  text-decoration: none;
}

.letra-azuul-bold {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.container2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}






.boton_verde {
  background: linear-gradient(to right, #005b01, #28b856, #005b01);
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_verde:hover {
  background: linear-gradient(to right, #013701, #158f3b, #013701);
  box-shadow:
    0 0 5px rgba(0, 255, 132, 1),
    0 0 20px rgba(38, 127, 104, 1);
}

.boton_rojo {
  background: linear-gradient(to right, #670202, #f20404, #670202);
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_rojo:hover {
  background: linear-gradient(to right, #2e0101, #930202, #2e0101);
  box-shadow:
    0 0 5px rgba(255, 0, 0, 1),
    0 0 20px rgba(127, 38, 38, 1);
}

.boton_celeste {
  background: linear-gradient(to right, #044FF2, #2798FF,#044FF2);
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_celeste:hover {
  background: linear-gradient(to right,#023093, #1A74F6, #023093);
  box-shadow:
    0 0 5px rgb(9, 99, 255),
    0 0 20px rgb(17, 28, 124);
}

.boton_gris {
  background: linear-gradient(to right, #424447, #81868b,#424447);
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_gris:hover {
  background: linear-gradient(to right,#2a2a2b, #5b5f64, #2a2a2b);
  box-shadow:
    0 0 5px rgb(90, 96, 105),
    0 0 20px rgb(47, 47, 49);
}


.index_ficha{
  background: none;  
}

.index_ficha:hover{ 
  background: none;  
	box-shadow:
		0 0 5px rgba(90,96,105),
		0 0 10px rgba(47,47,49),
		0 0 15px rgb(26, 26, 27),
}

#cuadro-imagen {
  max-width: 236px;
  max-height: 199px;
  padding: 3px;
  border: 2px solid gray;
}


#fotoFicha{
  width: 200px;
  max-height: 200px;
}

.contornoFicha{
  border: 2px solid white;
  padding: 10px;
  margin: 100px;
}

#spanFicha{
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: bold;
}

#spanFicha2{
  display: inline-block;
  vertical-align: center;
  font-size: 20px;
  font-weight: bold;
}
.fw-300{
  font-weight: 300;
}

.centrar-texto{
  text-align: center;
}

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.iconos{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
    
}

.containerpen {
  position: absolute;
  overflow: hidden;
  width: 100%; /* Ancho del contenedor */
  height: 80px; /* Alto del contenedor */
}

#pinguino {
  position: absolute;
  top: 4px;
  left: -100px;
  width: 80px; /* Ancho del pingüino */
  height: auto; /* Altura automática para mantener la proporción */
  animation: caminar 20s linear infinite;
}

@keyframes caminar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    left: calc(100% - 40px); /* Hasta el borde derecho */
    }
}

#boleta_tabla_estados{
  float: right;
}

#boleta_tabla_estados td{
  padding-right: 30px;
  text-align: center;
  font-weight: bold;
}

.image-container {
  position: relative;
  width: 200px; /* Establecer el ancho máximo */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
}



.file-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.letra-ofertaa{
  color: rgb(0, 105, 252);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.letra-disponible{
  color: rgb(0, 192, 0);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.precio-real-ficha{
  color: white;
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
}



.precio-real-ficha-oferta{
  color: rgb(0, 0, 0);
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
  text-decoration: line-through;
}

.letra-agotado{
  color: rgb(255, 50, 50);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.letra-titulo-producto{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

.letra-titulo-producto2{
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
}

.letra-titulo-producto3jajalol{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.fotos-nosotros {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  
}
.card {
  text-align: center; /* Centrar contenido horizontalmente */
  max-width: 300px;
  
}
.card-img-top {
  width: 50%; /* Ajusta el ancho de la imagen según tus necesidades */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}



.letra-normal-negra {
  color: black;
  text-decoration: none;
  display: block;
}

.letra_boleta_anulada {
  font-weight: bold;
  color: rgb(255, 50, 50) !important;
}

.table_border {
  border: 1px solid white;
  padding: 10px;
}


.producto-sm {
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.usuario-sm {
  width:  82px;
  height: 70px;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-left .logo {
  height: 50px;
}

.navbar-center {
  display: flex;
  align-items: center;
}


.search-bar {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button {
  background-color: #8bc24a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.search-button i {
  color: #fff;
}

.navbar-right {
  display: flex;
  align-items: right;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-icon {
  margin-right: 20px;
  color: #000;
  position: relative;
  text-decoration: none;
}

.nav-icon i {
  font-size: 24px;
}

.navbar-right .nav-link, .navbar-right .nav-icon {
  margin-left: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.navbar-right .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #8bc24a;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #8bc24a;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.categories {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

/* .category {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  font-weight: bold;
} */

.category {
  width: 150px;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  height: 50px; /* Ajusta la altura según sea necesario */
}

/* .category {
  width: 150px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #000;
  align-items: center;
  justify-content: center;
  height: 50px;
} */


.category_active {
  color: #8bc24a;
  border: 2px solid #8bc24a;
  font-weight: bold;
  width: 150px;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px; /* Ajusta la altura según sea necesario */

}


footer {
  padding: 1rem 0;
 
}
footer p {
  margin: 0;
  color: #333;
}
footer a {
  color: #007bff;
  text-decoration: none;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.login-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.login-button img {
  margin-right: 0.5rem;
}
.login-button:hover {
  background-color: #f0f0f0;
}

.custom-div {
  color: #747777; /* Color de fondo gris */
  padding: 20px; /* Espaciado interno */
  margin-left: 20px; /* Espaciado a la izquierda */
  margin-right: 20px; /* Espaciado a la derecha */
}

.btn_pequeño_negro{
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.input-group {
  position: relative;
  margin-bottom: 1.5em; /* Añadido margen para espaciar los campos */
}

.input {
  border: solid 1.5px #dcdcdc;
  border-radius: 7px;
  background: none;
  padding: 15px;
  font-size: 18px;
  color: #000000;
  width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
}

.label {
  position: absolute;
  left: 15px;
  color: #797777;
  pointer-events: none;
  transform: translateY(15px);
  font-size: 18px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  padding: 0 .2em;
}

.label2 {
  position: absolute;
  left: 15px;
  color: #797777;
  pointer-events: none;
  transform: translateY(15px);
  font-size: 18px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: none;
  padding: 0 .2em;
}

.input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #8bc24a;
}

.input:focus ~ .label, .input:valid ~ .label {
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  color: #8bc24a;
}

.input:focus ~ .label2, .input:valid ~ .label {
  transform: translateX(-6%) translateY(-20%) scale(0.9);
  color: #8bc24a;
  background-color: rgb(255, 255, 255);
  width: auto;
}


/* styles.css o en la sección de estilos de tu template */

.sidebar {
  width: 250px;
  background-color: #f1f1f1;
  padding: 10px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.accordion {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  padding: 10px;
}

.panel.show {
  display: block;
}

#sidebar {
  position: fixed; /* Fija la posición del menú lateral */
  top: 200px;
  left: 20px;
  width: 250px; /* Ancho del menú lateral */
  height: 450px;
  background-color: #f0f0f0; /* Color de fondo opcional */
  overflow-y: auto; /* Agrega scroll si es necesario */
  padding: 20px;
  border: 1px solid #ccc; /* Borde derecho opcional */
}

.moveraladerecha {
  position: relative; /* Fija la posición del menú lateral */
  top: 0px;
  left: 300px;
  width: 1180px;
  height: 100%; /* Ancho del menú lateral *//* Color de fondo opcional */
  overflow-y: auto; /* Agrega scroll si es necesario */
  padding: 20px; /* Borde derecho opcional */
}


/* CSS personalizado */
.user-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

#id_direccion {
  width: 100%;
  height: 115px; /* Ajusta la altura según tus necesidades */
  resize: none; /* Opcional: evita que el usuario cambie el tamaño del campo */
}

.input-lg {
  font-size: 1.25rem;
  padding: 10px;
  width: 150px;
}


.select-container {
  display: flex;
  gap: 10px; /* Espacio entre los selectores */
  align-items: center;
}